body {
  background-color: rgb(198, 223, 231);
}
.topbar {
  width: 90%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0;
  left: 15%;
  z-index: 4;
}
.sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #323e4d;
  overflow-x: hidden;
}
.section{
  width: 85%;
  margin-left: 15%;
}